<div class="box box-author m_b_2rem" *ngIf="author">
  <div class="post-author row-flex">
    <div class="author-img">
      <img alt="author avatar" [src]="getImage(author)" class="avatar">
    </div>
    <div class="author-content">
      <div class="top-author">
        <h5 class="heading-font">
          <a [href]="getLink(author)" [title]="author.attributes?.firstname"
            rel="author">{{author.attributes?.firstname}} {{author.attributes?.lastname}}</a>
        </h5>
      </div>
      <p class="d-none d-md-block">{{author.attributes?.description}}</p>
      <!-- <div class="content-social-author" *ngIf="author.social">
        <a target="_blank" class="author-social" *ngFor="let data of author.social" [href]="data.link">{{data.social}}
        </a>
      </div> -->
    </div>
  </div>
</div>
