<main id="content" *ngIf="post">
  <div class="container">
    <div class="entry-header">
      <div class="mb-5">
        <h1 class="entry-title m_b_2rem">
          {{post.attributes?.fields?.Title}}
        </h1>
        <app-entry-meta-alpha [post]="post"></app-entry-meta-alpha>
      </div>
    </div>
    <!--end single header-->
    <figure class="image zoom mb-5">
      <img src="http://via.placeholder.com/1240x700" alt="post-title" />
    </figure>
    <!--figure-->
    <article class="entry-wraper mb-5">
      <div class="entry-left-col">
        <div class="social-sticky">
          <a href="#"><i class="icon-facebook"></i></a>
          <a href="#"><i class="icon-twitter"></i></a>
          <a href="#"><i class="icon-heart"></i></a>
          <a href="#"><i class="icon-paper-plane"></i></a>
        </div>
      </div>
      <div class="excerpt mb-4">
        {{post.attributes?.fields?.Meta_Description}}
      </div>
      <div class="entry-main-content dropcap">
        <div [innerHTML]="post.attributes?.fields?.Content"></div>
        <!--Begin Subcrible-->
        <!-- <div class="border p-5 bg-lightblue mb-5">
          <div class="row justify-content-between">
            <div class="col-md-5 mb-2 mb-md-0">
              <h5 class="font-weight-bold secondfont mb-3 mt-0">{{"Become a member" | translate}}</h5>
              <p class="small-text">{{"Get the latest news right in your inbox. We never spam!" | translate}}</p>
            </div>
            <div class="col-md-7">
              <div class="row">
                <div class="col-md-12">
                  <input type="text" class="form-control" placeholder="{{'Enter your e-mail address' | translate}}">
                </div>
                <div class="col-md-12 mt-2">
                  <button type="submit" class="btn btn-success btn-block">{{"Subscribe" | translate}}</button>
                </div>
              </div>
            </div>
          </div>
        </div> -->
        <!--End Subcrible-->
      </div>
      <div class="entry-bottom">
        <div class="tags-wrap heading">
          <span class="tags">
            <a href="#" rel="tag">fashion</a>
            <a href="#" rel="tag">lifestyle</a>
            <a href="#" rel="tag">news</a>
            <a href="#" rel="tag">style</a>
          </span>
        </div>
      </div>
      <!-- Post Author Alpha Molecule-->
      <app-post-author-alpha [author]="author"></app-post-author-alpha>
    </article>
    <!--entry-content-->

    <!--Begin post related-->
    <!-- <div class="related-posts mb-5">
      <h4 class="spanborder text-center">
        <span>{{"Related Posts" | translate}}</span>
      </h4>
      <div class="row justify-content-between">
        <div class="divider-2"></div>
        <article class="col-md-4" *ngFor="let item of [post];">
          <div class="mb-3 d-flex row">
            <figure class="col-md-5">
              <a href="/single">
                <img src="{{}}" alt="post-title">
              </a>
            </figure>
            <div class="entry-content col-md-7 pl-md-0">
              <h5 class="entry-title mb-3">
                <a href="/single">{{item.attributes?.fields?.Title}}</a>
              </h5>
              <app-entry-meta-alpha [post]="item"></app-entry-meta-alpha>
            </div>
          </div>
        </article>

      </div>
    </div> -->
    <!--End post related-->

    <!--Begin Comment-->
    <div class="single-comment comments_wrap">
      <section id="comments">
        <div class="comments-inner clr">
          <div id="respond" class="comment-respond">
            <h3 id="reply-title" class="comment-reply-title">{{"Leave a Reply" | translate}}</h3>
            <form action="#" method="post" id="commentform" class="comment-form" novalidate="">
              <p class="comment-notes">
                <span id="email-notes">{{"Your email address will not be published" | translate}}.</span>
                {{"Required fields are marked" | translate}} <span class="required">*</span>
              </p>
              <p class="comment-form-comment">
                <label for="comment">{{"Comment" | translate}}</label>
                <textarea id="comment" name="comment" cols="45" rows="8" maxlength="65525"
                  required="required"></textarea>
              </p>
              <div class="row">
                <div class="comment-form-author col-sm-12 col-md-6">
                  <p>
                    <label for="author">{{"Name" | translate}}*</label>
                    <input id="author" name="author" type="text" value="" size="30" aria-required="true">
                  </p>
                </div>
                <div class="comment-form-email col-sm-12 col-md-6">
                  <p>
                    <label for="email">{{"Email" | translate}}*</label>
                    <input id="email" name="email" type="email" value="" size="30" aria-required="true">
                  </p>
                </div>
              </div>
              <p class="form-submit">
                <input name="submit" type="submit" id="submit" class="submit btn btn-success btn-block"
                  value="{{'Post Comment' |translate}}">
              </p>
            </form>
          </div>
          <!-- #respond -->
        </div>
      </section>
    </div>
    <!--End Comment-->
  </div>
  <!--container-->
</main>
