<div class="content-widget">
  <div class="container">
    <div class="row justify-content-between post-has-bg ml-0 mr-0">
      <div class="col-lg-6 col-md-8">
        <div class="pt-5 pb-5 pl-md-5 pr-5 align-self-center">
          <div class="capsSubtle mb-2">{{post.attributes?.category_cb?.data?.attributes?.Name}}</div>
          <h2 class="entry-title mb-3"><a [href]="buildLink(post)">{{post.attributes?.fields?.Title}}</a></h2>
          <div class="entry-excerpt">
            <p>{{post.attributes?.fields?.Meta_Description}}</p>
          </div>
          <!-- Add date-address-alpha -->
          <app-entry-meta-alpha [post]="post"></app-entry-meta-alpha>
        </div>
      </div>
      <div class="col-lg-6 col-md-4 bgcover d-none d-md-block pl-md-0 ml-0"
        [ngStyle]="{'background-image': 'url(' + getPostImage(post) + ')'}"></div>
    </div>
    <div class="divider"></div>
  </div>
</div>
