<div class="row justify-content-between">
  <article class="col-md-6" *ngFor="let post of posts;">
    <div class="mb-3 d-flex row">
      <figure class="col-md-5"><a [href]="buildLink(post)">
        <img [src]="getPostImage(post)" alt="post-title"></a>
      </figure>
      <div class="entry-content col-md-7 pl-md-0">
        <h5 class="entry-title mb-3">
          <a [href]="buildLink(post)">{{post.attributes?.fields?.Title}}</a>
        </h5>
        <div class="entry-excerpt">
          <p>
            {{post.attributes?.fields?.Meta_Description}}
          </p>
        </div>
        <!-- Add date-address-alpha -->
        <app-entry-meta-alpha [post]="post"></app-entry-meta-alpha>
      </div>
    </div>
  </article>
</div>
