<main id="content" *ngIf="!!posts.length">
  <div class="content-widget">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h4 class="spanborder">
            <span>{{"Culture" | translate}}</span>
          </h4>
          <app-entry-gamma [post]="posts[0]"></app-entry-gamma>
          <div class="divider"></div>

          <ng-container *ngFor="let post of posts">
            <app-entry-alpha [post]="post"></app-entry-alpha>
          </ng-container>

          <ngb-pagination [collectionSize]="postsSize" (pageChange)="pageChange($event)" [(page)]="page" [maxSize]="5"
            [rotate]="true" [boundaryLinks]="true">
          </ngb-pagination>
        </div>
        <!--col-md-8-->
        <div class="col-md-4 pl-md-5 sticky-sidebar">
          <div class="sidebar-widget latest-tpl-4">
            <h4 class="spanborder">
              <span>{{"Popular" |translate}}</span>
            </h4>
            <!-- Add popular molecule-->
            <ol>
              <li class="d-flex" *ngFor="let post of posts; let i = index">
                <div class="post-count">{{i+1 | number: '2.0-0'}}</div>
                <div class="post-content">
                  <h5 class="entry-title mb-3">
                    <a [href]="buildLink(post)">{{ post.attributes?.fields?.Title }}</a>
                  </h5>
                  <app-entry-meta-alpha [post]="post"></app-entry-meta-alpha>
                </div>
              </li>
            </ol>
          </div>
        </div>
      </div>
      <!--col-md-4-->
    </div>
  </div>
  <!-- Ads Section -->
  <app-ads [itemAd]=""></app-ads>

  <!--content-widget-->
</main>
