<main id="content">
  <div class="content-widget">
    <div class="container">
      <!--Begin Archive Header-->
      <div class="row">
        <div class="col-12 archive-header text-center pt-3 pb-3">
          <h1 class="mb-3">{{"The Startup" | translate}}</h1>
          <p class="archive-intro">
            The Startup provides a scientific approach to creating and managing
            startups and get a desired product to customers' hands faste
          </p>
        </div>
      </div>
      <div class="divider"></div>
      <!--End Archive Header-->

      <!--Begin Featured Post-->
      <div class="row justify-content-between post-has-bg ml-0 mr-0">
        <div class="col-lg-6 col-md-4 bgcover d-none d-md-block pl-md-0 ml-0"
          style="background-image: url(http://via.placeholder.com/1400x778)"></div>
        <div class="col-lg-6 col-md-8">
          <div class="pt-5 pb-5 pl-md-5 pr-5 align-self-center">
            <div class="capsSubtle mb-2">Editors' Pick</div>
            <h2 class="entry-title mb-3">
              <!-- <a [href]="buildLink(post)">What I Wish I'd Known When I Made a Drastic Career Change</a> -->
            </h2>
            <div class="entry-excerpt">
              <p>
                Eight people who took the plunge share the biggest challenges
                and surprises of starting over. We spend a considerable portion
                of our time using a web browser and may sometimes need to get a
                screenshot of a full page in your browser.
              </p>
            </div>

            <!-- Add date-address-alpha -->
            <app-entry-meta-alpha [post]="{}"></app-entry-meta-alpha>
          </div>
        </div>
      </div>
      <div class="divider"></div>
      <!--End Featured Post-->

      <div class="row">
        <article class="post-list-style-2 mb-5 col-md-4" *ngFor="let item of archiveArr;">
          <!-- <a [href]="buildLink(post)">
            <figure class="bgcover" [style]="item.img"></figure>
          </a>
          <h3 class="entry-title mb-3">
            <a [href]="buildLink(post)">{{item.title}}</a>
          </h3>
          <div class="entry-excerpt">
            <p>
              {{item.desc}}
            </p>
          </div> -->

          <!-- Add date-address-alpha -->
          <app-entry-meta-alpha [post]="{}"></app-entry-meta-alpha>
        </article>

        <ul class="page-numbers heading">
          <li>
            <span aria-current="page" class="page-numbers current">1</span>
          </li>
          <li><a class="page-numbers" href="#">2</a></li>
          <li><a class="page-numbers" href="#">3</a></li>
          <li><a class="page-numbers" href="#">4</a></li>
          <li><a class="page-numbers" href="#">5</a></li>
          <li><a class="page-numbers" href="#">...</a></li>
          <li><a class="page-numbers" href="#">98</a></li>
          <li>
            <a class="next page-numbers" href="#"><i class="icon-right-open-big"></i></a>
          </li>
        </ul>
      </div>
    </div>
    <!--content-widget-->
  </div>

  <!-- Ads Section -->
  <app-ads [itemAd]="Ad"></app-ads>

  <!--content-widget-->
</main>
